In [1]:
#%%% JSON content script
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

connection_string = 'mssql+pyodbc:///?odbc_connect=' \
                    'Driver%3D%7BODBC+Driver+17+for+SQL+Server%7D%3B' \
                    'Server%3Dmaxreportsrvr.database.windows.net%3B' \
                    'Database%3Dmax_report_db%3B' \
                    'UID%3Dreportadmin%3B' \
                    'PWD%3D#DAff!%nz8r7'\

engine = create_engine(connection_string)

# Create the SQL-query to retrieve the "EmailID," "To," and "Content" columns from the "Emails" table
sql = """SELECT ITEMNUMBER
FROM SalesOrderLineV2Staging
WHERE DATAAREAID = 'MNHQ'

         """
with engine.connect() as conn:
    all_data = pd.read_sql(sql, conn)

# Close the database connection
engine.dispose()

In [3]:
item_counts = all_data['ITEMNUMBER'].value_counts().reset_index()
item_counts.columns = ['ITEMNUMBER', 'count']  # Renaming columns for clarity

In [9]:
item_counts.sort_values(by='ITEMNUMBER', ascending=True, inplace=True)

In [12]:
item_counts

     ITEMNUMBER   count
0      A0000001  284679
59     A0000002    3848
100    A0000003    2699
118    A0000004    2334
2746   A0000005     102
...         ...     ...
7832   A0015068       1
7782   A0015069       1
6797   A0015070       3
7506   A0015075       1
7393   A0015078       2

[8482 rows x 2 columns]

In [11]:
item_counts.to_csv('item_counts.csv', index=False)